.titulo {
  margin-bottom: 20px;
}
h1{
  font-family: 'Roboto Condensed', sans-serif;
  color: #777;
}

#img-avatar {
  border: 2px solid #dfac13;
  border-radius: 60px;
}
.div-subtitle{
  background-color: rgba(53, 63, 72, 0.6);
  border-radius: 5px;
  padding: 8px;
  margin-top: 10px;
}

/*Background SVG*/
.bgsvgUp{
  background-image: url(/img/polygon-scatter-haikei.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #212529;
}
/*FOOTER*/
.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}
.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}
.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: #ccc;
  opacity: 0.75;
}
.footer-basic .social > a:hover {
  opacity: 0.9;
  color: #dfac13;
  border-color: #dfac13;
}
.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

/* Portafilio linna */
.iframe-linna {
  width: 76%;
  height: 600px;
  border: 5px solid #dfac13;
}
.link-linna {
  text-decoration: none;
  color: #dfac13;
}
.link-linna:hover {
  color: #f0ca55;
}
/*Juegos Game Maker Studio 2*/
.iframe-games {
  width: 100%;
  height: auto;
}

/* Estilos para TODO list */
#boton-ingreso {
  border-radius: 50px;
  background-color: #198754;
  color: aliceblue;
  border: none;
}
.fa-trash-alt {
  float: right;
  margin-right: 10px;
  margin-top: 3px;
  font-size: 20px;
}
.li-todo {
  background-color: #ffc107;
  cursor: pointer;
  list-style: none;
  padding: 5px;
}
.li-todo:hover {
  background-color: #dfac13;
}
.complete-list {
  background-color: #dfac13;
  text-decoration: line-through;
}

/* Pomodoro */
.pom-div p, .pom-div h1, .pom-div h4{
  color: #fff;
}
.pom-div{
  width: 80%;
  height: 160px;
}
.taskPom{
  margin: 0px 100px;
  padding: 5px;
}
.task-div-red{
  background-color: #c22d3c;
}
.task-div-green{
  background-color: #12633d;
}
.fa-sync-alt{
  cursor: pointer;
}
